html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    background: url(../images/login_bg.jpg);
}
.loginAddRegBox {
    background-color: #fff;
    width: 400px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title-box {
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}
.reg-box {
    display: none;
}

.layui-form-item {
    position: relative;
    padding: 0 30px;
}
.link {
    display: flex;
    justify-content: flex-end;
}
.link a {
    font-size: 12px;
}
.layui-form-item .layui-icon{
    position: absolute;
    top: 10px;
    left: 39px;
}
.layui-input {
    padding-left: 32px;
}
